body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery {
  display: flex;
  overflow: hidden;
}

.image {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.1);
}

